@font-face {
  font-family: 'DejaWeb';
  src: url('dejaweb/DejaWeb.eot');
  src: url('dejaweb/DejaWeb.woff2') format('woff2'),
       url('dejaweb/DejaWeb.woff') format('woff'),
       url('dejaweb/DejaWeb.ttf') format('truetype'),
       url('dejaweb/DejaWeb.svg#DejaWeb') format('svg'),
       url('dejaweb/DejaWeb.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PoliticsHead';
  src: url('politicshead/PoliticsHead-Bold.eot');
  src: url('politicshead/PoliticsHead-Bold.woff2') format('woff2'),
       url('politicshead/PoliticsHead-Bold.woff') format('woff'),
       url('politicshead/PoliticsHead-Bold.ttf') format('truetype'),
       url('politicshead/PoliticsHead-Bold.svg#PoliticsHead-Bold') format('svg'),
       url('politicshead/PoliticsHead-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
