<template>
  <v-layout>
    <v-flex v-if="fetching" xs12 class="mx-2 my-3">
      <v-card>
        <v-card-title>
          <h2>
            <v-progress-circular indeterminate size="16" :width="3"></v-progress-circular>
            Einen Moment bitte &hellip;
          </h2>
        </v-card-title>
        <v-card-text>
          <p v-if="fetching">Die gespeicherten Daten des Plakats mit dem Code <code>{{poster.code}}</code> werden
            geladen.</p>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex v-else xs12>
      <v-stepper v-model="step" vertical @input="onStepChange">
        <v-stepper-step :complete="stepsComplete.s1" :edit-icon="stepsCompleteIcon.s1" step="1" editable>
          Name eingeben
          <small v-if="parseInt(step)!==1">{{poster.name}}</small>
        </v-stepper-step>
        <v-stepper-content step="1">
          <v-text-field ref="nameField" v-model="poster.name" label="Name"
                        hint="Gib hier den Namen so ein, wie er auf dem Plakat stehen soll." counter="42" maxlength="42"
                        :rules="rules.name"
                        :disabled="poster.printDataRequested"></v-text-field>
          <v-btn color="primary" @click.native="step = 2">Weiter</v-btn>
        </v-stepper-content>
        <v-stepper-step :complete="stepsComplete.s2" :edit-icon="stepsCompleteIcon.s2" step="2" editable>
          Foto hochladen
        </v-stepper-step>
        <v-stepper-content step="2">
          <upload :disabled="poster.printDataRequested" @complete="onUpload"></upload>
          <v-btn color="primary" @click.native="step = 3">Weiter</v-btn>
        </v-stepper-content>
        <v-stepper-step :complete="stepsComplete.s3" :edit-icon="stepsCompleteIcon.s3" step="3" editable>
          Beschreibung auswählen
          <small v-if="parseInt(step)!==3">{{poster.description.prefix}} {{poster.description.value}}</small>
        </v-stepper-step>
        <v-stepper-content step="3">
          <v-layout row wrap>
            <v-flex xs12 sm6 :class="$vuetify.breakpoint.xs ? '' : 'pr-3'">
              <v-select label="Beschreibungstyp" :items="descriptionPrefixes" v-model="poster.description.prefix"
                        single-line
                        :disabled="poster.printDataRequested"></v-select>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field ref="descriptionValueField" v-model="poster.description.value"
                            :counter="descriptionValueMaxLength" :maxlength="descriptionValueMaxLength"
                            :label="poster.description.prefix ? 'Stimmkreis' : 'Beschreibung'"
                            :hint="poster.description.prefix ? 'Bitte gib hier den Stimmkreis-Namen (ohne Nummer) an.' : 'Bitte gib hier an, was unter deinem Namen auf dem Plakat stehen soll.'"
                            :rules="rules.description"
                            :disabled="poster.printDataRequested"></v-text-field>
            </v-flex>
          </v-layout>
          <v-btn color="primary" @click.native="step = 4">Weiter</v-btn>
        </v-stepper-content>
        <v-stepper-step :complete="stepsComplete.s4" :edit-icon="stepsCompleteIcon.s4" step="4" editable>
          Slogan eingeben
          <small v-if="parseInt(step)!==4">{{poster.slogan.line1}} {{poster.slogan.line2}} {{poster.slogan.line3}}
          </small>
        </v-stepper-step>
        <v-stepper-content step="4">
          <v-text-field ref="sloganLine1Field" v-model="poster.slogan.line1" label="Slogan Zeile 1"
                        hint="Gib hier die erste Zeile des Slogens ein." counter="21" maxlength="21"
                        :rules="rules.sloganLine1"
                        :disabled="poster.printDataRequested"></v-text-field>
          <v-text-field ref="sloganLine2Field" v-model="poster.slogan.line2" label="Slogan Zeile 2 (optional)"
                        hint="Gib hier die zweite Zeile des Slogens ein." counter="21" maxlength="21"
                        :rules="rules.sloganLine2"
                        :disabled="poster.printDataRequested"></v-text-field>
          <v-text-field ref="sloganLine3Field" v-model="poster.slogan.line3" label="Slogan Zeile 3 (optional)"
                        hint="Gib hier die dritte Zeile des Slogens ein." counter="21" maxlength="21"
                        :rules="rules.sloganLine3"
                        :disabled="poster.printDataRequested"></v-text-field>
          <v-btn color="primary" @click.native="step = 5">Weiter</v-btn>
        </v-stepper-content>
        <v-stepper-step :complete="stepsComplete.s5" :edit-icon="stepsCompleteIcon.s5" step="5" editable>
          Plakat gestalten
        </v-stepper-step>
        <v-stepper-content step="5">
          <designer :name-line="poster.name"
                    :description-line="`${poster.description.prefix} ${poster.description.value}`"
                    :slogan-line1="poster.slogan.line1" :slogan-line2="poster.slogan.line2"
                    :slogan-line3="poster.slogan.line3"
                    :image-data-json="poster.imageData"
                    :image="image.preview"
                    :notification-email="poster.notificationEmail"
                    :needs-help="poster.needsHelp"
                    :print-data-requested="poster.printDataRequested"
                    @image-data-update="saveImageData"
                    @notification-update="saveNotificatoinSettings"
                    @needs-help-update="saveNeedsHelp"></designer>
          <v-btn color="primary" @click.native="step = 6">Weiter</v-btn>
        </v-stepper-content>
        <v-stepper-step :complete="stepsComplete.s6" :edit-icon="stepsCompleteIcon.s6" step="6" editable>
          Druckdaten anfordern / herunterladen
        </v-stepper-step>
        <v-stepper-content step="6">
          <v-card v-if="poster.printDataRequested && poster.downloadEnabled" color="grey lighten-4" class="mb-3">
            <v-card-text class="pb-0">
              <p>Bitte verwende immer die Druckdaten im richtigen Format.</p>
              <p>Auch wenn du auf den ersten Blick vielleicht keine Unterschiede erkennst, die Daten wurden speziell für
                die entsprechenden Zielformate vorbereitet um eine höchstmögliche Druckqualität zu gewährleisten.</p>
            </v-card-text>
            <v-card-actions>
              <p class="px-2">Download:</p>
              <v-btn flat color="primary" :href="poster.downloadLinkA0" v-if="poster.downloadLinkA0" target="_blank">
                <v-icon left>cloud_download</v-icon>
                DIN A0
              </v-btn>
              <v-btn flat color="primary" :href="poster.downloadLinkA1" v-if="poster.downloadLinkA1" target="_blank">
                <v-icon left>cloud_download</v-icon>
                DIN A1
              </v-btn>
            </v-card-actions>
          </v-card>
          <v-card v-else-if="poster.printDataRequested" color="grey lighten-4" class="mb-3">
            <v-card-title>
              <h3>
                <v-icon class="mr-1">warning</v-icon>
                Der Download ist derzeit leider noch nicht möglich
              </h3>
            </v-card-title>
            <v-card-text>
              <p class="mx-3">Deine Druckdaten wurden noch nicht fertiggestellt. Dies dauert in der Regel maximal 24
                Stunden.</p>
              <p class="mx-3">Wir bitten um dein Verständnis, vor allem wenn es am Wochenende oder aufgrund vieler
                Anfragen einmal länger dauern sollte.</p>
              <p class="mx-3 pb-4">Falls du Fragen haben solltest, verwende bitte einfach die Nachrichten-Funktion unter
                <strong>5. Plakat gestalten</strong>. Dort kannst du übrigens auch eine E-Mail-Adresse hinterlegen, dann
                wirst du benachrichtigt, sobald Daten bereitgestellt wurden.</p>
            </v-card-text>
          </v-card>
          <v-card color="purple lighten-5" class="mb-3">
            <v-form @submit.prevent="requestPrintData" ref="requestPrintDataForm">
              <v-card-title>
                <h2>Du bist fertig?</h2>
              </v-card-title>
              <v-card-text>
                <v-switch label="Druckdaten anfordern" v-model="printDataRequest.show" color="primary"
                          :rules="printDataRequest.showRules" ref="showPrintDataRequest"></v-switch>
                <p class="caption">Du kannst deinen Entwurf nicht mehr verändern, wenn du die Druckdaten angefordert
                  hast. Du kannst die Anforderung aber jederzeit wieder zurücknehmen, wenn du doch noch etwas ändern
                  möchtest.</p>
                <div v-if="printDataRequest.show">
                  <v-checkbox label="Din A0" v-model="printDataRequest.a0" color="primary"
                              @change="$refs.showPrintDataRequest.validate()"></v-checkbox>
                  <v-checkbox label="Din A1" v-model="printDataRequest.a1" color="primary"
                              @change="$refs.showPrintDataRequest.validate()"></v-checkbox>
                  <p>Wenn du Druckdaten anfordern möchtest, brauchen wir deine E-Mail-Adresse. Du wirst dann
                    automatisch Benachrichtigt, sobald deine Druckdaten bereitgestellt wurden oder falls wir noch
                    Rückfragen haben.</p>
                  <v-text-field label="E-Mail-Adresse" v-model="printDataRequest.email" color="primary"
                                :rules="printDataRequest.emailRules"></v-text-field>
                </div>
              </v-card-text>
              <v-card-actions v-if="printDataRequest.show">
                <v-btn type="submit" color="primary" :loading="printDataRequest.peristing">Druckdaten anfordern</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-stepper-content>
      </v-stepper>
    </v-flex>
  </v-layout>
</template>

<script>
  import _ from 'underscore';
  import moment from 'moment';

  import Upload from '@/components/Upload.vue';
  import Designer from '@/components/Designer.vue';

  import {getImagePreview, loadPoster, updatePoster} from '@/api';

  export default {
    name: 'Configurator',
    components: {
      Upload,
      Designer
    },
    data() {
      return {
        fetching: true,
        persisting: false,
        lastPersist: null,
        descriptionPrefixes: [{
          text: 'Landtagskandidat für ...',
          value: 'Landtagskandidat für'
        }, {
          text: 'Bezirkstagskandidat für ...',
          value: 'Bezirkstagskandidat für'
        }, {
          text: 'Sonstiges ...',
          value: ''
        }],
        step: '1',
        routerStepParamInitialized: false,
        stepsComplete: {
          s1: true,
          s2: false,
          s3: false,
          s4: false,
          s5: false,
          s6: false
        },
        stepsCompleteIcon: {
          s1: 'error_outline',
          s2: 'error_outline',
          s3: 'error_outline',
          s4: 'error_outline',
          s5: 'error_outline',
          s6: 'error_outline'
        },
        rules: {
          name: [
            (v) => v.length >= 5 || 'Der Name muss aus mindestens 5 Zeichen bestehen.',
            (v) => v.length <= 42 || 'Der Name darf aus maximal 42 Zeichen bestehen.'
          ],
          description: [
            (v) => v.length >= 5 || 'Die Beschreibung muss aus mindestens 5 Zeichen bestehen.',
            (v) => v.length <= this.descriptionValueMaxLength || 'Die Beschreibung darf aus maximal ' + this.descriptionValueMaxLength + ' Zeichen bestehen.'
          ],
          sloganLine1: [
            (v) => v.length >= 5 || 'Die erste Zeile des Solgans muss aus mindestens 5 Zeichen bestehen.',
            (v) => v.length <= 21 || 'Die erste Zeile des Solgans darf aus maximal 21 Zeichen bestehen.'
          ],
          sloganLine2: [
            (v) => v.length <= 21 || 'Die zweite Zeile des Solgans darf aus maximal 21 Zeichen bestehen.'
          ],
          sloganLine3: [
            (v) => v.length <= 21 || 'Die dritte Zeile des Solgans darf aus maximal 21 Zeichen bestehen.'
          ]
        },
        poster: {
          code: '',
          name: '',
          description: {
            prefix: 'Landtagskandidat für',
            value: ''
          },
          slogan: {
            line1: '',
            line2: '',
            line3: ''
          },
          imageData: '',
          notificationEmail: null,
          needsHelp: false,
          printDataRequested: false,
          printDataRequestedA0: false,
          printDataRequestedA1: false,
          downloadEnabled: false,
          downloadLinkA0: undefined,
          downloadLinkA1: undefined
        },
        image: {
          preview: undefined
        },
        changeWatcherEnabled: false,
        printDataRequest: {
          show: false,
          showRules: [
            v => (!v || this.printDataRequest.a0 || this.printDataRequest.a1) || 'Du musst mindestens ein Format auswählen.'
          ],
          a0: false,
          a1: false,
          email: '',
          emailRules: [
            v => (!!v.match(/.+@.+/)) || 'Deine E-Mail-Adresse scheint ungültig zu sein.',
            v => (v.length <= 255) || 'Deine E-Mail-Adresse ist zu lang.'
          ],
          peristing: false
        }
      }
    },
    computed: {
      descriptionValueMaxLength() {
        return this.poster.description.prefix ? 25 : 42;
      },
      posterJson() {
        return JSON.stringify(this.poster);
      }
    },
    mounted() {
      this.applyRouteStepParam(this.$router.currentRoute);
    },
    methods: {
      onStepChange() {
        const validClass = 'check';
        const invalidClass = 'error_outline';

        this.stepsComplete.s1 = !!this.poster.name;
        if (this.stepsComplete.s1) {
          this.stepsCompleteIcon.s1 = this.$refs.nameField.validate() ? validClass : invalidClass;
        }

        this.stepsComplete.s2 = !!(this.image && this.image.preview);
        if (this.stepsComplete.s2) {
          this.stepsCompleteIcon.s2 = this.image.preview ? validClass : invalidClass;
        }

        this.stepsComplete.s3 = !!(this.poster.description && this.poster.description.value);
        if (this.stepsComplete.s3) {
          this.stepsCompleteIcon.s3 = this.$refs.descriptionValueField.validate() ? validClass : invalidClass;
        }

        this.stepsComplete.s4 = !!(this.poster.slogan && this.poster.slogan.line1);
        if (this.stepsComplete.s4) {
          this.stepsCompleteIcon.s4 = this.$refs.sloganLine1Field.validate()
          && this.$refs.sloganLine2Field.validate()
          && this.$refs.sloganLine3Field.validate()
            ? validClass : invalidClass;

          this.poster.slogan.line1 = this.poster.slogan.line1.toUpperCase();
          this.poster.slogan.line2 = this.poster.slogan.line2.toUpperCase();
          this.poster.slogan.line3 = this.poster.slogan.line3.toUpperCase();
        }

        if (this.routerStepParamInitialized && parseInt(this.$router.currentRoute.params.step) !== parseInt(this.step)) {
          this.$router.push(`/poster/p/${this.$router.currentRoute.params.code}/${this.step}`);
        }
      },
      applyRouteStepParam(route) {
        if (this.poster.code !== route.params.code) {
          this.poster.code = route.params.code;
          this.fetching = true;
          this.loadPoster(this.poster.code)
            .then(() => this.fetching = false)
            .catch(() => this.fetching = false);
        }

        this.$nextTick(() => {
          if (parseInt(route.params.step) !== parseInt(this.step)) {
            this.step = route.params.step;
          }
          this.routerStepParamInitialized = true;
        });
      },
      loadPoster(code) {
        this.changeWatcherEnabled = false;
        return loadPoster(code).then(result => {
          if (result.success) {
            this.poster.name = result.poster.name || '';
            this.poster.description.prefix = result.poster.description_prefix || '';
            this.poster.description.value = result.poster.description || '';
            this.poster.slogan.line1 = (result.poster.slogan1 || '').replace(/(?:^\s+|\s+$)/, '');
            this.poster.slogan.line2 = (result.poster.slogan2 || '').replace(/(?:^\s+|\s+$)/, '');
            this.poster.slogan.line3 = (result.poster.slogan3 || '').replace(/(?:^\s+|\s+$)/, '');
            this.poster.imageData = (result.poster.image_data || '').replace(/(?:^\s+|\s+$)/, '');
            this.poster.notificationEmail = result.poster.notification_email
              ? result.poster.notification_email.replace(/(?:^\s+|\s+$)/, '')
              : null;
            this.poster.downloadEnabled = result.poster.download_enabled;
            this.poster.needsHelp = result.poster.needs_help;
            this.poster.printDataRequested = result.poster.print_data_requested;
            this.poster.printDataRequestedA0 = result.poster.print_data_requested_a0;
            this.poster.printDataRequestedA1 = result.poster.print_data_requested_a1;
            this.poster.downloadLinkA0 = result.poster.download_link_a0;
            this.poster.downloadLinkA1 = result.poster.download_link_a1;

            this.printDataRequest.show = !!this.poster.printDataRequested;
            this.printDataRequest.a0 = !!this.poster.printDataRequestedA0;
            this.printDataRequest.a1 = !!this.poster.printDataRequestedA1;
            this.printDataRequest.email = this.poster.notificationEmail || '';

            this.$nextTick(() => this.changeWatcherEnabled = true);

            return getImagePreview(code).then(result => {
              if (result.success) {
                this.image.preview = result.preview;
                return Promise.resolve();
              }
              return Promise.reject("can't open image preview!");
            });
          }

          this.$root.$emit('infoEvent', 'Das Plakat konnte nicht geöffnet werden.');
          this.$router.push('/poster');
          return Promise.reject("can't open poster!");
        });
      },
      updatePoster() {
        return updatePoster(this.poster.code, {
          name: this.poster.name || '',
          description_prefix: this.poster.description.prefix || '',
          description: this.poster.description.value || '',
          slogan1: this.poster.slogan.line1 || '',
          slogan2: this.poster.slogan.line2 || '',
          slogan3: this.poster.slogan.line3 || '',
          image_data: this.poster.imageData || '',
          notification_email: this.poster.notificationEmail || null,
          needs_help: !!this.poster.needsHelp,
          print_data_requested: !!this.poster.printDataRequested,
          print_data_requested_a0: !!this.poster.printDataRequestedA0,
          print_data_requested_a1: !!this.poster.printDataRequestedA1
        }).then(() => this.$root.$emit('last-persist-update', moment().format('DD.MM.YYYY HH:mm:ss')));
      },
      onUpload(preview) {
        this.image.preview = preview;
      },
      debouncedChangeHandler: _.debounce(function () {
        this.$root.$emit('persisting-indicator-update', true);
        this.updatePoster()
          .then(() => this.$root.$emit('persisting-indicator-update', false))
          .catch(() => this.$root.$emit('persisting-indicator-update', false));
      }, 1500),
      saveImageData(imageDataJson) {
        this.poster.imageData = imageDataJson;
      },
      saveNotificatoinSettings(notification) {
        if (notification.enabled) {
          this.poster.notificationEmail = notification.email;
        } else {
          this.poster.notificationEmail = null;
        }
      },
      saveNeedsHelp(needsHelp) {
        this.poster.needsHelp = needsHelp;
      },
      requestPrintData() {
        if (this.$refs.requestPrintDataForm.validate()) {
          this.printDataRequest.peristing = true;
          this.poster.printDataRequested = this.printDataRequest.a0 || this.printDataRequest.a1;
          this.poster.printDataRequestedA0 = this.printDataRequest.a0;
          this.poster.printDataRequestedA1 = this.printDataRequest.a1;
          this.poster.notificationEmail = this.printDataRequest.email;
          setTimeout(() => {
            this.printDataRequest.peristing = false;
            this.$root.$emit('infoEvent', 'Druckdaten wurden angefordert.');
          }, 1500);
        }
      }
    },
    watch: {
      '$route'(to) {
        this.applyRouteStepParam(to);
      },
      posterJson() {
        if (this.changeWatcherEnabled) {
          this.debouncedChangeHandler();
        }
      },
      'printDataRequest.show'(enabled) {
        if (!enabled) {
          this.poster.printDataRequested = false;
          this.poster.printDataRequestedA0 = false;
          this.poster.printDataRequestedA1 = false;
          this.poster.notificationEmail = this.printDataRequest.email;
          this.printDataRequest.a0 = false;
          this.printDataRequest.a1 = false;
          setTimeout(() => {
            this.$root.$emit('infoEvent', 'Druckdaten-Anforderung wurde aufgehoben.');
          }, 1500);
        }
      }
    }
  }
</script>
