<template>
  <v-container fluid grid-list-md>
    <v-navigation-drawer app right v-if="$route.name === 'designer-details'">
      <v-toolbar color="grey lighten-2">
        <v-toolbar-title>Details</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon color="grey lighten-4" :to="{name: 'open', params: {code: details.code}}">
          <v-icon color="orange">open_in_browser</v-icon>
        </v-btn>
        <v-btn flat icon to="/poster/overview">
          <v-icon>close</v-icon>
        </v-btn>
      </v-toolbar>
      <div class="px-3 pt-5" v-if="details.fetching">
        <v-progress-circular :size="14" :width="2" indeterminate color="purple"></v-progress-circular>
        <span class="ml-2">Einen Moment bitte ...</span>
      </div>
      <div class="px-3 pt-4" v-else>
        <p class="mb-1">Code: <code>{{details.code}}</code></p>
        <p>Name: <strong>{{details.name}}</strong></p>
        <p class="mb-1">Braucht hilfe:
          <strong v-if="details.needsHelp" class="red px-2 py-1">JA!</strong>
          <template v-else>nein</template>
        </p>
        <p :class="details.printDataRequested && 'mb-0'">Druckdaten angefordert:
          <strong v-if="details.printDataRequested" class="green px-2 py-1">JA!</strong>
          <template v-else>nein</template>
        </p>
        <p class="caption px-2" v-if="details.printDataRequested">
          A0:
          <strong v-if="details.printDataRequestedA0" class="green px-1">JA!</strong>
          <template v-else>nein</template>
          <br>
          A1:
          <strong v-if="details.printDataRequestedA1" class="green px-1">JA!</strong>
          <template v-else>nein</template>
        </p>
        <p class="mb-1">Beschreibung:<br>
          <strong>{{details.description}}</strong>
        </p>
        <p>Slogan:<br>
          <strong>{{details.slogan}}</strong>
        </p>
        <p>E-Mail-Adresse:
          <a :href="`mailto:${details.email}`">{{details.email}}</a>
        </p>
        <v-form @submit.prevent="updatePoster" class="mt-5 mb-5 pt-4" style="border-top: 1px dotted #999;">
          <v-checkbox v-model="details.downloadEnabled" color="primary"
                      hint="Aktivieren, damit der Anwender die Druckdaten herunterladen kann. Die beide folgenden Felder sind optional.">
            <span slot="label" class="black--text">Downloads Anzeigen</span>
          </v-checkbox>
          <v-text-field v-model="details.downloadLinkA0" label="Download-Link A0"></v-text-field>
          <v-text-field v-model="details.downloadLinkA1" label="Download-Link A1"></v-text-field>

          <v-btn type="submit" :loading="details.persisting">Speichern</v-btn>
          <p class="caption">Der Benutzer wird darüber benachrichtigt, falls er eine E-Mail-Adresse angegeben hat.</p>
        </v-form>
      </div>
    </v-navigation-drawer>
    <v-layout row wrap>
      <v-flex
        v-for="p in poster"
        xs6 sm4 md3 lg2
        :key="`poster-${p.code}`"
      >
        <v-card :color="p.needs_help ? 'orange lighten-4' : (p.print_data_requested ? 'green lighten-4' : 'white')"
                :to="{ name: 'designer-details', params: { code: p.code }}">
          <v-card-text
            v-if="p.loading"
            class="text-xs-center pt-5"
            :style="`height:${tileHeight};`"
          >
            <v-progress-circular :size="48" :width="6" :indeterminate="true"
                                 color="grey lighten-3"></v-progress-circular>
          </v-card-text>
          <v-card-media
            v-else-if="p.imageUrl"
            :src="p.imageUrl"
            :height="tileHeight"
          ></v-card-media>
          <v-card-text
            v-else
            class="text-xs-center pt-4"
            :style="`height:${tileHeight};`"
          >
            <v-tooltip bottom>
              <v-icon color="grey lighten-3" slot="activator" style="font-size: 6em;">person</v-icon>
              <span>Kein Bild hochgeladen</span>
            </v-tooltip>
          </v-card-text>
          <v-card-text
            style="height:3.5em;" class="pt-0">
            <v-progress-linear
              :height="2"
              :value="p.progress"
              :color="p.progress === 100 ? 'green' : 'orange'"
            >
            </v-progress-linear>
            <div class="poster-title">{{p.name}}</div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-dialog persistent v-model="login.showDialog" transition="slide-x-transition"
              :fullscreen="$vuetify.breakpoint.xs">
      <v-card>
        <v-card-title>
          <h3>Anmeldung</h3>
        </v-card-title>
        <v-card-text>
          <v-alert v-model="!!login.message" type="error">{{login.message}}</v-alert>
          <v-form @submit.prevent="doLogin">
            <!-- TODO: validation -->
            <v-text-field label="E-Mail-Adresse" v-model="login.email"></v-text-field>
            <!-- TODO: validation -->
            <v-text-field label="Passwort" type="password" v-model="login.password"></v-text-field>
            <v-btn type="submit" :loading="login.loading">Anmelden</v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  import {
    posterOverview,
    getImagePreview,
    getPosterUserInfo,
    posterLogin,
    loadPoster,
    updatePosterDownloadInfo
  } from '@/api'

  export default {
    name: 'Overview',
    data() {
      return {
        poster: [],
        login: {
          showDialog: false,
          email: '',
          password: '',
          loading: false,
          message: ''
        },
        details: {
          fetching: true,
          persisting: false,
          code: undefined,
          name: undefined,
          needsHelp: undefined,
          printDataRequested: undefined,
          description: undefined,
          slogan: undefined,
          email: undefined,
          downloadEnabled: undefined,
          downloadLinkA0: undefined,
          downloadLinkA1: undefined
        }
      }
    },
    computed: {
      tileHeight() {
        // xs6 sm4 md3 lg2
        let height;
        if (this.$vuetify.breakpoint.xs) {
          height = 180;
        } else if (this.$vuetify.breakpoint.smAndDown) {
          height = 250;
        } else if (this.$vuetify.breakpoint.mdAndDown) {
          height = 280;
        } else {
          height = 300;
        }
        return height + 'px';
      }
    },
    mounted() {
      this.loadPosterOverview();
      this.getPosterUserInfo();

      if (this.$route.name === 'designer-details') {
        this.loadDetails(this.$route.params.code);
      }
    },
    methods: {
      loadPosterOverview() {
        // TODO: loading indicator
        posterOverview().then(r => {
          if (parseInt(r.status) === 403) {
            this.login.showDialog = true;
            return false;
          } else {
            return r.json();
          }
        }).then(r => {
          if (r.success) {
            this.poster = r.poster.map((p) => {
              p.loading = true;
              return p;
            });

            const loadPreview = (i) => {
              if (i >= this.poster.length) {
                return;
              }
              const p = this.poster[i];
              getImagePreview(p.code).then(((p) => (r) => {
                if (r.success && r.preview) {
                  p.imageUrl = 'data:image/png;base64,' + r.preview;
                }

                p.loading = false;
                if (i % 20) {
                  loadPreview(i + 1);
                } else {
                  setTimeout(() => loadPreview(i + 1), 1000);
                }
              })(p));
            };
            loadPreview(0);
          }
        });
      },
      doLogin() {
        this.login.message = '';
        this.login.loading = true;
        posterLogin({
          email: this.login.email,
          password: this.login.password
        }).then(r => {
          if (parseInt(r.status) === 200) {
            this.login.showDialog = false;
            this.login.email = '';
            this.login.password = '';
            this.loadPosterOverview();
            this.getPosterUserInfo();
          } else {
            this.login.message = 'Der Benutzername oder das Passwort ist falsch.'
          }
          this.login.loading = false;
        }).catch(() => this.login.loading = false);
      },
      getPosterUserInfo() {
        getPosterUserInfo()
          .then(r => r.json())
          .then(r => this.$root.$emit('showUserMenu', r.email));
      },
      loadDetails(code) {
        this.details.fetching = true;
        loadPoster(code).then(result => {
          this.details.fetching = false;
          this.details.code = result.poster.code;
          this.details.name = result.poster.name || '';

          this.details.needsHelp = !!result.poster.needs_help;
          this.details.printDataRequested = !!result.poster.print_data_requested;
          this.details.printDataRequestedA0 = !!result.poster.print_data_requested_a0;
          this.details.printDataRequestedA1 = !!result.poster.print_data_requested_a1;

          this.details.description = (result.poster.description_prefix || '') + ' ' + (result.poster.description || '');
          this.details.slogan = (result.poster.slogan1 || '') + ' ' + (result.poster.slogan2 || '') + ' ' + (result.poster.slogan3 || '');

          this.details.email = result.poster.notification_email || '';

          this.details.downloadEnabled = !!result.poster.download_enabled;
          this.details.downloadLinkA0 = result.poster.download_link_a0 || '';
          this.details.downloadLinkA1 = result.poster.download_link_a1 || '';
        });
      },
      updatePoster() {
        this.details.persisting = true;
        updatePosterDownloadInfo(this.details.code, {
          download_enabled: !!this.details.downloadEnabled,
          download_link_a0: this.details.downloadLinkA0 || '',
          download_link_a1: this.details.downloadLinkA1 || ''
        }).then(r => {
          this.details.persisting = false;
          if (r.ok) {
            this.$root.$emit('infoEvent', 'Deine Eingaben wurden gespeichert.');
          } else {
            this.$root.$emit('infoEvent', 'Fehler: Die Daten konnten nicht gespeichert werden.');
          }
        });
      }
    },
    watch: {
      '$route'(to) {
        if (to.name === 'designer-details') {
          this.loadDetails(to.params.code);
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .poster-title
    font-size 0.9em
    font-weight bold
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
</style>
