<template>
  <v-container fluid>
    <v-jumbotron :height="isMobile ? 'auto' : '200px'">
      <v-container fill-height>
        <v-layout align-center>
          <v-flex class="text-xs-center">
            <h1 :class="isMobile ? 'display-1' : 'display-3'"><strong class="orange--text">Per</strong>sonen-<strong
              class="orange--text">Pla</strong>kat-<strong class="orange--text">Konf</strong>igurator</h1>
            <p>Dies ist ein Konfigurator zu Erstellung von Personen-Plakaten für die Landtags- und/oder Bezirkstagswahl
              2018 der Piratenpartei Bayern.</p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-jumbotron>
    <v-layout row wrap class="mt-5">
      <v-flex xs12 sm6 md4 offset-md2 class="pr-5 mb-5">
        <v-form @submit.prevent="submitNewPoster()" lazy-validation ref="newPosterForm">
          <p>Du trittst als Direktkandidat zur Landtags- und/oder Bezirkstagswahl 2018 für die Piratenpartei Bayern an
            und hast noch kein Personen-Plakat?</p>
          <p>Hier kannst du ganz einfach dein persönliches Plakat erzeugen. Beginnen wir mit deinem Namen:</p>
          <v-text-field v-model="newPosterName" :rules="newPosterNameRules" label="Vor- und Nachname"
                        hint="Gib hier den Namen so ein, wie er auf dem Plakat stehen soll."
                        counter="42" maxlength="42"></v-text-field>
          <p class="mt-3 mb-1 caption">
            Mit der Nutzung akzeptierst du unsere
            <a @click.stop="showPrivacyDialog">Datenschutzerklärung</a>.
          </p>
          <v-checkbox v-model="privacy1" :rules="privacyRules" color="primary" label="Einverstanden"></v-checkbox>
          <div class="mt-2 text-xs-center">
            <v-btn type="submit" color="primary" :loading="newPosterLoadingIndicator">Neues Plakat erzeugen</v-btn>
          </div>
        </v-form>
      </v-flex>
      <hr v-if="$vuetify.breakpoint.xs" class="divider-hr mb-5"
          :style="'border-width: 0 0 1px 0; border-style: dashed; border-color: '+$vuetify.theme.primary+'; width: 100%;'"/>
      <v-flex xs12 sm6 md4 offset-md1 class="pr-5">
        <v-form @submit.prevent="submitPosterCode()" lazy-validation ref="posterCodeForm">
          <p>Du hast bereits eine Konfiguration begonnen oder hast einen Plakat-Code erhalten?</p>
          <p>Dann gib deinen Plakat-Code hier ein:</p>
          <v-text-field v-model="posterCode" counter="7" maxlength="7" :rules="posterCodeRules"
                        label="Plakat-Code"></v-text-field>
          <p class="mt-3 mb-1 caption">
            Mit der Nutzung akzeptierst du unsere
            <a @click.stop="showPrivacyDialog">Datenschutzerklärung</a>.
          </p>
          <v-checkbox v-model="privacy2" :rules="privacyRules" color="primary" label="Einverstanden"></v-checkbox>
          <div class="mt-2 text-xs-center">
            <v-btn type="submit" color="primary">Plakat öffnen</v-btn>
          </div>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import {createPoster} from '@/api';

  export default {
    name: 'poster-home',
    data() {
      return {
        isMobile: false,
        privacy1: false,
        privacy2: false,
        privacyRules: [
          (v) => v || 'Bitte akzeptiere die Datenschutzerklärung.'
        ],
        posterCode: '',
        posterCodeRules: [
          (v) => v.length === 7 || 'Der Plakat-Code muss aus exakt 7 Zeichen bestehen.',
          (v) => !!v.match(/^[a-z0-9]*$/) || 'Der Plakat-Code darf nur aus Kleinbuchstaben und Zahlen bestehen.'
        ],
        newPosterName: '',
        newPosterNameRules: [
          (v) => v.length >= 5 || 'Der Name muss aus mindestens 5 Zeichen bestehen.',
          (v) => v.length <= 42 || 'Der Name darf aus maximal 42 Zeichen bestehen.'
        ],
        newPosterLoadingIndicator: false
      }
    },
    mounted() {
      this.onResize();
      window.addEventListener('resize', this.onResize, {
        passive: true
      })
    },
    beforeDestroy() {
      if (typeof window !== 'undefined') {
        window.removeEventListener('resize', this.onResize, {
          passive: true
        })
      }
    },
    methods: {
      submitPosterCode() {
        if (this.$refs.posterCodeForm.validate()) {
          this.$router.push({
            name: 'open',
            params: {
              code: this.posterCode
            }
          });
        }
      },
      submitNewPoster() {
        if (this.$refs.newPosterForm.validate()) {
          this.newPosterLoadingIndicator = true;
          createPoster(this.newPosterName).then(result => {
            if (result.success) {
              this.$root.$emit('infoEvent', 'Dein neues Plakat wurde angelegt.');
              this.$router.push({
                name: 'step',
                params: {
                  code: result.poster.code,
                  step: 2
                }
              });
            } else {
              this.$root.$emit('infoEvent', 'Fehler: Dein neues Plakat konnte nicht angelegt werden.');
            }
            this.newPosterLoadingIndicator = false;
          }).catch(() => this.newPosterLoadingIndicator = false);
        }
      },
      onResize() {
        this.isMobile = this.$vuetify.breakpoint.xs;
      },
      showPrivacyDialog() {
        this.$root.$emit('showPrivacyDialog');
      }
    }
  }
</script>
