<template>
  <div class="ma-2">
    <v-card color="grey lighten-4" class="pa-3">
      <v-layout row wrap>
        <v-flex xs12 sm8 md6 lg4>
          <div id="canvas"></div>
          <v-slider label="Bildgröße" v-model="imageSize"
                    :max="5000"
                    :min="0"
                    :step="1"
                    :disabled="requestPrintData"></v-slider>
          <p class="caption">
            Bei der obigen Ansicht handelt es sich um eine Vorschau. Die genauen Abstände und eventuelle Überlappungen
            werden manuell geprüft und ggf. berichtigt bevor dir die Druckdaten bereitgestellt werden.
          </p>
        </v-flex>
        <v-flex xs12 sm4 md6 lg8>
          <h2>
            <v-icon large left>help</v-icon>
            Brauchst du Hilfe? &mdash; Kein Problem!
          </h2>
          <p class="mt-3">Setze einfach den folgenden Haken und ein Mitglied der SG Design prüft deinen Entwurf und
            greift dir bei der Gestaltung unter die Arme.</p>
          <v-layout row wrap>
            <v-flex xs10>
              <v-checkbox label="Hilfe anfordern" v-model="needHelp" color="primary" cass="primary--text"></v-checkbox>
            </v-flex>
            <v-flex xs2>
              <v-menu offset-x left :close-on-content-click="false" v-model="notification.menu" min-width="300"
                      max-width="300">
                <v-btn slot="activator" icon color="primary">
                  <v-icon>notifications</v-icon>
                </v-btn>
                <v-card>
                  <v-form ref="notificationForm" @submit.prevent="notification.menu = false" class="px-3 pt-3 pb-0">
                    <v-switch v-model="notification.enabled" color="primary" label="E-Mail-Benachrichtigung"></v-switch>
                    <v-text-field v-model="notification.email" label="E-Mail-Adresse" v-if="notification.enabled"
                                  :rules="emailRules"></v-text-field>
                  </v-form>
                  <v-card-actions class="pt-0">
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="notification.menu = false">Übernehmen</v-btn>
                  </v-card-actions>
                </v-card>
              </v-menu>
            </v-flex>
          </v-layout>
          <p>Wenn du konkrete Fragen oder Vorstellungen hast, teile uns diese bitte in folgendem Nachrichtenfeld
            mit.</p>
          <p v-if="messagesLoading">
            <v-progress-circular indeterminate size="14" :width="2"></v-progress-circular>
            Lade Nachrichten &hellip;
          </p>
          <p v-else v-for="item in messages" class="mb-3 caption">
            <strong>
              <template v-if="item.sender === 'out'">Du,</template>
              <template v-else>Antwort,</template>
              {{item.sendtime}}
            </strong> &nbsp;&mdash;&nbsp;
            <span class="grey--text text--darken-2">{{ item.message }}</span>
          </p>
          <v-form @submit.prevent="sendMessage">
            <v-alert color="orange" v-model="isDesigner">Du bist angemeldet. Deine Nachrichten werden als
              <strong>Antwort</strong> versendet. Wenn du das nicht möchtes, melde dich bitte ab. Dies kannst du in der
              <router-link to="/poster/overview">Designer-Übersicht</router-link>
              machen.
            </v-alert>
            <v-textarea label="Neue Nachricht" :counter="1000" maxlength="1000" v-model="newMessage"></v-textarea>
            <v-btn type="submit" :loading="messageSending">Absenden</v-btn>
          </v-form>
        </v-flex>
      </v-layout>
    </v-card>
  </div>
</template>

<script>
  import moment from 'moment'
  import SVG from "svg.js"
  import "svg.draggable.js"
  import {loadMessages, sendMessage} from '@/api'

  export default {
    name: 'Designer',
    props: {
      nameLine: '',
      descriptionLine: '',
      sloganLine1: '',
      sloganLine2: '',
      sloganLine3: '',
      image: '',
      imageDataJson: '',
      notificationEmail: '',
      needsHelp: false,
      printDataRequested: false
    },
    data() {
      return {
        svg: {},
        needHelp: false,
        requestPrintData: false,
        notification: {
          menu: false,
          enabled: false,
          email: ''
        },
        isDesigner: false,
        messagesLoading: true,
        messages: [],
        newMessage: '',
        messageSending: false,
        emailRules: [
          v => (!!v.match(/.+@.+/)) || 'Deine E-Mail-Adresse scheint ungültig zu sein.',
          v => (v.length <= 255) || 'Deine E-Mail-Adresse ist zu lang.'
        ],
        imageSize: 100,
        originalImageWidth: 0,
        originalImageHeight: 0,
        imageMaxHeight: undefined,

        pageSizeMm: {
          // DIN A0 (+5mm on every side)
          width: 851,
          height: 1199
        },

        imageData: {
          image: {
            width: null,
            x: 0,
            y: null
          },
          name: {
            fontSize: null
          },
          description: {
            fontSize: null
          },
          slogan: {
            x: 0.05,
            y: 0.7
          },
          qrCode: {
            position: 'left'
          }
        }
      }
    },
    computed: {
      canvasHeight() {
        return Math.ceil(window.innerHeight * 0.7);
      },
      canvasWidth() {
        return Math.floor(this.canvasHeight * (this.pageSizeMm.width / this.pageSizeMm.height));
      },
      descriptionLineX() {
        return this.canvasHeight * 0.2065;
      },
      descriptionLineDefaultFontSize() {
        return this.canvasHeight * 0.0391;
      },
      nameLineX() {
        return this.canvasHeight * 0.2501;
      },
      nameLineDefaultFontSize() {
        return this.canvasHeight * 0.06;
      },
      sloganBoxPaddingX() {
        return this.canvasWidth * 0.0110;
      },
      sloganBoxMarginY() {
        return this.canvasHeight * 0.0078;
      },
      updatedImageDataJson() {
        return JSON.stringify(this.imageData);
      },
      qrCodeMargin() {
        return this.canvasWidth * 0.0117;
      },
      qrCodeWidth() {
        return this.canvasWidth * 0.0717;
      }
    },
    methods: {
      updateSloganBox() {
        this.svg.sloganBox1.width(this.svg.sloganLine1.length() + (2 * this.sloganBoxPaddingX));
        if (this.sloganLine2) {
          this.svg.sloganLine2.show();
          this.svg.sloganBox2.show();
          this.svg.sloganBox2.width(this.svg.sloganLine2.length() + (2 * this.sloganBoxPaddingX));
        } else {
          this.svg.sloganLine2.hide();
          this.svg.sloganBox2.hide();
        }
        if (this.sloganLine3) {
          this.svg.sloganLine3.show();
          this.svg.sloganBox3.show();
          this.svg.sloganBox3.width(this.svg.sloganLine3.length() + (2 * this.sloganBoxPaddingX));
        } else {
          this.svg.sloganLine3.hide();
          this.svg.sloganBox3.hide();
        }
        this.svg.sloganGroup.width(Math.max(
          this.svg.sloganLine1.length(),
          this.svg.sloganLine2.length(),
          this.svg.sloganLine3.length()
        ));
        this.svg.sloganGroup.height(Math.max(
          this.svg.sloganBox1.height(),
          this.sloganLine2 ? this.svg.sloganBox2.y() + this.svg.sloganBox2.height() : 0,
          this.sloganLine3 ? this.svg.sloganBox3.y() + this.svg.sloganBox3.height() : 0
        ));

        // alignment and qr code position
        if (this.svg.sloganGroup.x() + (this.svg.sloganGroup.width() / 2) < this.canvasWidth / 2) {
          // align text and boxes left
          this.svg.sloganBox1.x(0);
          this.svg.sloganBox2.x(0);
          this.svg.sloganBox3.x(0);
          this.svg.sloganLine1.x(this.sloganBoxPaddingX);
          this.svg.sloganLine2.x(this.sloganBoxPaddingX);
          this.svg.sloganLine3.x(this.sloganBoxPaddingX);
          // align qr code right
          this.svg.qrCode.x(this.canvasWidth - this.qrCodeWidth - this.qrCodeMargin);
          this.imageData.qrCode = 'right';
        } else {
          // align text and boxes right
          this.svg.sloganBox1.x(this.svg.sloganGroup.width() - this.svg.sloganBox1.width());
          this.svg.sloganBox2.x(this.svg.sloganGroup.width() - this.svg.sloganBox2.width());
          this.svg.sloganBox3.x(this.svg.sloganGroup.width() - this.svg.sloganBox3.width());
          this.svg.sloganLine1.x(this.svg.sloganBox1.x() + this.sloganBoxPaddingX);
          this.svg.sloganLine2.x(this.svg.sloganBox2.x() + this.sloganBoxPaddingX);
          this.svg.sloganLine3.x(this.svg.sloganBox3.x() + this.sloganBoxPaddingX);
          // align qr code left
          this.svg.qrCode.x(this.qrCodeMargin);
          this.imageData.qrCode = 'left';
        }
      },
      updateNameLine() {
        const lineWidth = this.svg.nameLine.length();
        if (this.canvasWidth * 0.9 > lineWidth) {
          this.svg.nameLine.x((this.canvasWidth - lineWidth) / 2);
          this.imageData.name.fontSize = this.svg.nameLine.font('size');
        } else {
          this.svg.nameLine.font('size', this.svg.nameLine.font('size') * 0.95);
          this.$nextTick(() => this.updateNameLine());
        }
      },
      updateDescriptionLine() {
        const lineWidth = this.svg.descriptionLine.length();
        if (this.canvasWidth * 0.9 > lineWidth) {
          this.svg.descriptionLine.x((this.canvasWidth - lineWidth) / 2);
          this.imageData.description.fontSize = this.svg.descriptionLine.font('size');
        } else {
          this.svg.descriptionLine.font('size', this.svg.descriptionLine.font('size') * 0.95);
          this.$nextTick(() => this.updateDescriptionLine());
        }
      },
      loadMessages() {
        return loadMessages(this.$router.currentRoute.params.code).then(result => {
          this.isDesigner = result.designer;
          this.messages = result.messages.map(m => {
            const sendtime = moment(m.sendtime);
            if (sendtime.isSame(moment(), 'day')) {
              m.sendtime = sendtime.format('HH:mm');
            } else {
              m.sendtime = sendtime.format('DD.MM.YYYY, HH:mm');
            }
            return m;
          });
          this.messagesLoading = false;
        }).catch(() => this.messagesLoading = false);
      },
      sendMessage() {
        this.messageSending = true;
        sendMessage(this.$router.currentRoute.params.code, this.newMessage)
          .then(() => this.newMessage = '')
          .then(() => this.loadMessages())
          .then(() => this.messageSending = false)
          .catch(() => this.messageSending = false);
      },
      renderPhotoBackground(svg) {
        return new Promise((res) => {
          const image = svg.draw.image('/static/elements/photo-background.png');
          image.loaded(loader => res({image, loader}));
        });
      },
      renderPhoto(svg, imageBase64) {
        return new Promise((res) => {
          imageBase64 = imageBase64 || 'iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=';
          const image = svg.draw.image('data:image/png;base64,' + imageBase64);
          image.loaded(loader => res({image, loader}));
        });
      },
      updateImageData(imageEl, imageBase64) {
        if (imageEl) {
          imageBase64 = imageBase64 || 'iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=';
          imageEl.load('data:image/png;base64,' + imageBase64);
          this.initImageSize();
        }
      },
      renderHeader(svg) {
        return new Promise((res) => {
          const image = svg.draw.image('/static/elements/header.png');
          image.loaded(loader => res({image, loader}));
        });
      },
      renderFooter(svg) {
        return new Promise((res) => {
          const image = svg.draw.image('/static/elements/footer.png');
          image.loaded(loader => res({image, loader}));
        });
      },
      renderQrCode(svg) {
        return new Promise((res) => {
          const image = svg.draw.image('/static/elements/qrcode.png');
          image.loaded(loader => res({image, loader}));
        });
      },
      initImageSize() {
        if (this.imageData.image.width === null) {
          let targetWidth = this.canvasWidth;
          if (this.canvasWidth * this.originalImageHeight / this.originalImageWidth < this.imageMaxHeight) {
            targetWidth = this.imageMaxHeight * this.originalImageWidth / this.originalImageHeight;
          }
          this.imageSize = targetWidth / this.canvasWidth * 1000;
        } else {
          this.imageSize = this.imageData.image.width * 1000;
        }
      }
    },
    mounted() {
      this.loadMessages();

      this.needHelp = this.needsHelp;
      this.requestPrintData = this.printDataRequested;

      if (this.imageDataJson) {
        this.imageData = {
          ...this.imageData,
          ...JSON.parse(this.imageDataJson)
        };
        if (this.notificationEmail) {
          this.notification.enabled = true;
          this.notification.email = this.notificationEmail;
        }
      }

      let headerHeight = undefined;
      let footerHeight = undefined;

      this.svg.draw = SVG('canvas').size(this.canvasWidth, this.canvasHeight);

      this.renderPhotoBackground(this.svg)
        .then(r => {
          this.svg.photoBackground = r.image;
          this.svg.photoBackground.size(this.canvasWidth, r.loader.height * this.canvasWidth / r.loader.width);
        })
        .then(() => this.renderPhoto(this.svg, this.image))
        .then(r => {
          this.svg.image = r.image;
          this.originalImageWidth = r.loader.width;
          this.originalImageHeight = r.loader.height;

          //slogan
          this.svg.sloganGroup = this.svg.draw.group()
            .move(this.canvasWidth * this.imageData.slogan.x, this.canvasHeight * this.imageData.slogan.y)
            .style({
              cursor: 'move'
            })
            .draggable((x, y) => {
              return ({
                x: (!this.requestPrintData) && x > this.qrCodeMargin
                  && x + this.svg.sloganGroup.width() < this.canvasWidth - this.qrCodeMargin,
                y: (!this.requestPrintData) && y > headerHeight + this.qrCodeMargin
                  && y + this.svg.sloganGroup.height() < this.canvasHeight - footerHeight - this.qrCodeMargin
              });
            });
          const boxStyle = {
            fill: '#fff',
            'fill-opacity': 0.7
          };
          const fontStyle = {
            fill: '#652480',
            family: 'PoliticsHead',
            size: this.canvasHeight * 0.055,
            leading: '1.096em'
          };
          const sloganBoxHeight = this.canvasHeight * 0.055;
          this.svg.sloganBox1 = this.svg.sloganGroup.rect(this.canvasWidth, sloganBoxHeight)
            .attr(boxStyle);
          this.svg.sloganLine1 = this.svg.sloganGroup.text(this.sloganLine1)
            .move(this.sloganBoxPaddingX, 0)
            .font(fontStyle);

          this.svg.sloganBox2 = this.svg.sloganGroup.rect(this.canvasWidth, sloganBoxHeight)
            .move(0, sloganBoxHeight + this.sloganBoxMarginY)
            .attr(boxStyle);
          this.svg.sloganLine2 = this.svg.sloganGroup.text(this.sloganLine2)
            .move(this.sloganBoxPaddingX, sloganBoxHeight + this.sloganBoxMarginY)
            .font(fontStyle);

          this.svg.sloganBox3 = this.svg.sloganGroup.rect(this.canvasWidth, sloganBoxHeight)
            .move(0, (sloganBoxHeight + this.sloganBoxMarginY) * 2)
            .attr(boxStyle);
          this.svg.sloganLine3 = this.svg.sloganGroup.text(this.sloganLine3)
            .move(this.sloganBoxPaddingX, (sloganBoxHeight + this.sloganBoxMarginY) * 2)
            .font(fontStyle);

          this.svg.image.on('dragmove', () => {
            this.imageData.image.x = this.svg.image.x() / this.canvasWidth;
            this.imageData.image.y = this.svg.image.y() / this.canvasHeight;
          });
          this.svg.sloganGroup.on('dragmove', () => {
            this.updateSloganBox();
            this.imageData.slogan.x = this.svg.sloganGroup.x() / this.canvasWidth;
            this.imageData.slogan.y = this.svg.sloganGroup.y() / this.canvasHeight;
          });
        })
        .then(() => this.renderHeader(this.svg))
        .then(r => {
          this.svg.header = r.image;
          headerHeight = r.loader.height * this.canvasWidth / r.loader.width;
          this.svg.header.size(this.canvasWidth, headerHeight);
          this.svg.header.move(0, 0);
        })
        .then(() => this.renderFooter(this.svg))
        .then(r => {
          this.svg.footer = r.image;
          footerHeight = r.loader.height * this.canvasWidth / r.loader.width;
          this.svg.footer.size(this.canvasWidth, footerHeight);
          this.svg.footer.move(0, this.canvasHeight - footerHeight);

          this.imageMaxHeight = this.canvasHeight - headerHeight - footerHeight;
        })
        .then(() => {
          // move photo-background to bottom of header
          this.svg.photoBackground.move(0, headerHeight);
          this.svg.image
            .move(
              this.canvasWidth * this.imageData.image.x,
              this.imageData.image.y === null ? headerHeight : this.imageData.image.y * this.canvasHeight
            )
            .style({
              cursor: 'move'
            })
            .draggable((x, y) => {
              return ({
                x: !this.requestPrintData,
                y: !this.requestPrintData
              });
            });

          // resize photo:
          this.initImageSize();
        })
        .then(() => this.renderQrCode(this.svg))
        .then(r => {
          this.svg.qrCode = r.image;
          const qrCodeHeight = r.loader.height * this.qrCodeWidth / r.loader.width;
          this.svg.qrCode.size(this.qrCodeWidth, qrCodeHeight);
          this.svg.qrCode.move(this.qrCodeMargin, this.canvasHeight - footerHeight - qrCodeHeight - this.qrCodeMargin);
        })
        .then(() => {
          // description:
          this.svg.descriptionLine = this.svg.draw.text(this.descriptionLine)
            .move(0, this.descriptionLineX)
            .font({
              fill: '#000000',
              family: 'PoliticsHead',
              size: this.descriptionLineDefaultFontSize,
              leading: '1em'
            });

          // name:
          this.svg.nameLine = this.svg.draw.text(this.nameLine)
            .move(0, this.nameLineX)
            .font({
              fill: '#652480',
              family: 'PoliticsHead',
              size: this.nameLineDefaultFontSize,
              leading: '1em'
            });

        })
        .then(() => this.$nextTick(() => {
          this.updateNameLine();
          this.updateDescriptionLine();
          this.updateSloganBox();
        }));
    },
    watch: {
      sloganLine1() {
        this.svg.sloganLine1.text(this.sloganLine1);
        this.updateSloganBox();
      },
      sloganLine2() {
        this.svg.sloganLine2.text(this.sloganLine2);
        this.updateSloganBox();
      },
      sloganLine3() {
        this.svg.sloganLine3.text(this.sloganLine3);
        this.updateSloganBox();
      },
      nameLine() {
        this.svg.nameLine.text(this.nameLine);
        this.svg.nameLine.font('size', this.nameLineDefaultFontSize);
        this.updateNameLine();
      },
      descriptionLine() {
        this.svg.descriptionLine.text(this.descriptionLine);
        this.svg.descriptionLine.font('size', this.descriptionLineDefaultFontSize);
        this.updateDescriptionLine();
      },
      image(preview) {
        this.updateImageData(this.svg.image, preview);
      },
      'notification.menu': function () {
        // on menu close:
        if (!this.notification.menu) {
          if (this.$refs.notificationForm.validate()) {
            this.$emit('notification-update', {
              enabled: this.notification.enabled,
              email: this.notification.email
            });
          }
          else {
            this.$nextTick(() => this.notification.menu = true);
          }
        }
      },
      imageSize(newWidthFactor) {
        const targetWidth = this.canvasWidth * newWidthFactor / 1000;
        this.svg.image.width(targetWidth);
        this.svg.image.height(targetWidth * this.originalImageHeight / this.originalImageWidth);
        this.imageData.image.width = newWidthFactor / 1000;
      },
      updatedImageDataJson() {
        this.$emit('image-data-update', this.updatedImageDataJson);
      },
      needHelp(needsHelp) {
        this.$emit('needs-help-update', needsHelp);
      }
    }
  }
</script>

<style lang="stylus" scoped>
  >>> #canvas > svg
    box-shadow: 1px 1px 5px 2px #999
</style>
