<template>
  <v-dialog v-model="showDialog" transition="slide-x-reverse-transition" :fullscreen="$vuetify.breakpoint.xs">
    <v-btn slot="activator" icon>
      <v-icon>share</v-icon>
    </v-btn>
    <v-card>
      <v-card-title>
        <h1>Plakat-Link teilen</h1>
      </v-card-title>
      <v-card-text>
        <v-form ref="shareForm" @submit.prevent="submit">
          <v-text-field type="email" v-model="email" :rules="emailRules" label="E-Mail-Adresse"></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat @click.stop="cancel">Abbrechen</v-btn>
        <v-btn color="primary" @click.stop="submit" :loading="loading">Teilen</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import {sharePoster} from '@/api'

  export default {
    name: 'ShareButton',
    data() {
      return {
        showDialog: false,
        email: '',
        emailRules: [
          v => !!v || 'Bitte gib die E-Mail-Adresse des Empfängers ein.',
          v => /^.{2,}@.{2,}$/.test(v) || 'Die E-Mail-Adresse ist ungültig.'
        ],
        loading: false
      }
    },
    methods: {
      cancel() {
        this.showDialog = false;
      },
      submit() {
        if (this.$refs.shareForm.validate()) {
          this.loading = true;
          // send email
          sharePoster(this.$router.currentRoute.params.code, this.email).then(() => {
            this.showDialog = false;
            this.$root.$emit('infoEvent', 'Die E-Mail wurde versandt.');
          }, 1000);
        }
      }
    },
    watch: {
      showDialog(show) {
        if (show) {
          this.email = '';
          this.loading = false;
        }
      }
    }
  }
</script>
