<template>
  <div class="upload-wrapper">
    <div v-if="loading" class="mx-2 my-5">
      <v-progress-circular :size="14" :width="2" indeterminate color="purple"></v-progress-circular>
      <span class="ml-2">Einen Moment bitte ...</span>
    </div>
    <div v-else class="ma-2">
      <v-card color="grey lighten-4">
        <v-card-title v-if="image" class="preview-image-wrapper">
          <img :src="image" :height="imageHeight" class="preview-image">
        </v-card-title>
        <v-card-title v-else>
          <v-icon size="200">person</v-icon>
        </v-card-title>
        <v-card-actions>
          <v-btn flat :disabled="disabled || !uploadAllowed" @click="startUploadDialog">
            <v-icon v-if="uploadAllowed" left>cloud_upload</v-icon>
            <v-icon v-else left>lock</v-icon>
            Neues Bild hochladen
          </v-btn>
        </v-card-actions>
        <v-card-text v-show="!uploadAllowed" class="caption">
          <strong>Hinweis:</strong> Der Bildupload für dieses Plakat wurde gesperrt.
        </v-card-text>
      </v-card>
      <v-dialog persistent v-model="showUploadDialog" transition="slide-x-reverse-transition"
                :fullscreen="$vuetify.breakpoint.xs">
        <v-card @dragover.stop.prevent="onDragOver" @drop.stop.prevent="onDrop">
          <v-card-title>
            <h3>
              <v-icon class="mr-3" color="primary">cloud_upload</v-icon>
              Bild hochladen
            </h3>
          </v-card-title>
          <div v-if="uploadDialogLoading" class="text-xs-center pa-5">
            <v-progress-circular :size="48" :width="6" :indeterminate="parseInt(progress) <= 0" v-model="progress"
                                 color="purple">
              <small v-if="progress > 0">{{parseInt(progress)}}%</small>
            </v-progress-circular>
            <br/><br/>
            <strong>Einen Moment bitte ...</strong>
          </div>
          <template v-else>
            <p class="ma-3">
              Beim Upload eines eigenes Bildes sind folgende Richtlinien zu beachten:
            </p>
            <ol class="mx-5 my-1">
              <li>Es muss sich um ein professionelles Foto handeln (nicht "von der Oma im Garten")</li>
              <li>Es wird empfohlen ein <strong>nicht</strong> freigestelltes Foto zu verwenden, ansonsten wird
                automatisch ein entsprechender Hintergrund verwendet
              </li>
              <li>Es muss sich um eines der Bildformate <code>png</code> oder <code>jpg</code> handeln</li>
              <li>Die Auflösung des Bildes muss in der Höhe und Breite jeweils mindestens 4016 Pixel (300 dpi) aufweisen</li>
            </ol>
            <p class="ma-3 caption">
              <strong>Tipp:</strong> Du kannst die Bild-Datei auch einfach aus deinem Dateibrowser in dieses Fenster
              ziehen.
            </p>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn flat @click="showUploadDialog=false">Abbrechen</v-btn>
              <v-btn color="primary" @click="startUpload">
                <v-icon left>cloud_upload</v-icon>
                Datei auswählen
              </v-btn>
            </v-card-actions>
          </template>
        </v-card>
      </v-dialog>
      <input type="file" style="display: none;" ref="uploadField" accept=".jpg,.png" @change="onFileSelect"/>
    </div>
  </div>
</template>

<script>
  import {getImagePreview, uploadImage} from '@/api'

  export default {
    name: 'Upload',
    props: {
      disabled: false
    },
    data() {
      return {
        loading: true,
        image: undefined,
        uploadAllowed: true,
        uploadDialogLoading: false,
        showUploadDialog: false,
        progress: -1
      }
    },
    computed: {
      imageHeight() {
        return parseInt(window.innerHeight * 0.5);
      }
    },
    mounted() {
      this.loadPreview();
    },
    methods: {
      loadPreview() {
        this.loading = true;
        this.image = undefined;
        return getImagePreview(this.$router.currentRoute.params.code).then(r => {
          if (r.success && r.preview) {
            this.image = 'data:image/png;base64,' + r.preview;
          }
          this.loading = false;
          return r.preview;
        });
      },
      startUploadDialog() {
        this.showUploadDialog = true;
      },
      startUpload() {
        this.$refs.uploadField.click();
      },
      onFileSelect(e) {
        const file = e.target.files[0];
        if (this.verifyFilenameAndType(file)) {
          this.readFile(file);
        } else {
          this.$root.$emit('infoEvent', 'Die Datei hat einen ungültigen Dateinamen.');
        }
      },
      onDragOver(e) {
        const item = e.dataTransfer.items[0];
        if (item.type.match(/^image\/.*(?:jpg|jpeg|png).*$/)) {
          e.dataTransfer.dropEffect = 'move';
          e.dataTransfer.effectAllowed = 'move';
        }
        else {
          e.dataTransfer.dropEffect = 'none';
          e.dataTransfer.effectAllowed = 'none';
        }
      },
      onDrop(e) {
        const file = e.dataTransfer.files[0];
        if (this.verifyFilenameAndType(file)) {
          e.dataTransfer.dropEffect = 'move';
          e.dataTransfer.effectAllowed = 'move';
          this.readFile(file);
        }
        else {
          e.dataTransfer.dropEffect = 'none';
          e.dataTransfer.effectAllowed = 'none';
          this.$root.$emit('infoEvent', 'Die Datei hat einen ungültigen Dateinamen.');
        }
      },
      verifyFilenameAndType(file) {
        return !!file.name.match(/.*\.(?:jpe?g|png)$/i);
      },
      readFile(file) {
        if (this.verifyFilenameAndType(file)) {
          this.uploadDialogLoading = true;
          this.uploadImage(file)
        }
      },
      uploadImage(file) {
        uploadImage(this.$router.currentRoute.params.code, file, (progress) => {
          this.progress = progress
        })
          .then((result) => {
            this.onUploadReady();
            if (result.success) {
              this.loadPreview().then(preview => this.$emit('complete', preview));
            } else {
              this.$root.$emit('infoEvent', 'FEHLER: Dein Bild konnte leider nicht hochgeladen werden.');
            }
          })
          .catch(() => {
            this.$root.$emit('infoEvent', 'FEHLER: Dein Bild konnte leider nicht hochgeladen werden.');
          });
      },
      onUploadReady() {
        this.uploadDialogLoading = false;
        this.showUploadDialog = false;
        this.progress = -1;
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .preview-image
    max-width 100%
    box-shadow: 1px 1px 5px 2px #999

    background-repeat: repeat;
    // checkerboard (http://lea.verou.me/css3patterns/#checkerboard)
    background-color: #eee;
    background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd),
      linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px
</style>
