<template>
  <v-menu offset-x left>
    <v-btn icon color="primary" slot="activator">
      <v-icon>person</v-icon>
    </v-btn>
    <v-list>
      <v-list-tile @click="createUser.showDialog = true">
        <v-list-tile-title>Neuen Benutzer anlegen</v-list-tile-title>
      </v-list-tile>
      <v-list-tile @click="changePassword.showDialog = true">
        <v-list-tile-title>Passwort ändern</v-list-tile-title>
      </v-list-tile>
      <v-list-tile @click="doLogout">
        <v-list-tile-title>Abmelden</v-list-tile-title>
      </v-list-tile>
    </v-list>

    <v-dialog persistent v-model="changePassword.showDialog" transition="slide-x-transition"
              :fullscreen="$vuetify.breakpoint.xs">
      <v-card>
        <v-card-title>
          <h3>Passwort ändern</h3>
        </v-card-title>
        <v-card-text>
          <v-alert v-model="!!changePassword.message" type="error">{{changePassword.message}}</v-alert>
          <v-form @submit.prevent="doChangePassword">
            <!-- TODO: validation -->
            <v-text-field label="Aktuelles Passwort" type="password"
                          v-model="changePassword.currentPassword"></v-text-field>
            <!-- TODO: validation (max. length 72: https://secure.php.net/manual/de/function.password-hash.php) -->
            <v-text-field label="Neues Passwort" type="password" v-model="changePassword.newPassword"></v-text-field>
            <!-- TODO: validation -->
            <v-text-field label="Neues Passwort wiederholen" type="password"
                          v-model="changePassword.newPasswordConfirm"></v-text-field>
            <v-btn type="submit" :loading="changePassword.loading">Passwort ändern</v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog persistent v-model="createUser.showDialog" transition="slide-x-transition"
              :fullscreen="$vuetify.breakpoint.xs">
      <v-card>
        <v-card-title>
          <h3>Benutzer anlegen</h3>
        </v-card-title>
        <v-card-text>
          <v-alert v-model="!!createUser.message" type="error">{{createUser.message}}</v-alert>
          <v-form @submit.prevent="doCreateUser">
            <!-- TODO: validation -->
            <v-text-field label="E-Mail-Adresse" type="email"
                          v-model="createUser.email"></v-text-field>
            <v-btn type="submit" :loading="createUser.loading">Benutzer anlegen</v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-menu>
</template>

<script>
  import {changePosterPassword, posterLogout, createUser} from '@/api'

  export default {
    name: 'user-menu',
    data() {
      return {
        changePassword: {
          showDialog: false,
          currentPassword: '',
          newPassword: '',
          newPasswordConfirm: '',
          message: '',
          loading: false
        },
        createUser: {
          showDialog: false,
          email: '',
          message: '',
          loading: false
        }
      }
    },
    methods: {
      doCreateUser() {
        this.createUser.message = '';
        this.createUser.loading = true;
        createUser(this.createUser.email).then(r => {
          if (r.ok) {
            this.createUser.showDialog = false;
            this.createUser.email = '';
          } else {
            this.createUser.message = 'Der Benuterz konnte nicht angelegt werden.'
          }
          this.createUser.loading = false;
        }).catch(() => this.createUser.loading = false);
      },
      doChangePassword() {
        this.changePassword.message = '';
        this.changePassword.loading = true;
        changePosterPassword({
          currentPassword: this.changePassword.currentPassword,
          newPassword: this.changePassword.newPassword,
          newPasswordConfirm: this.changePassword.newPasswordConfirm
        }).then(r => {
          if (r.ok) {
            this.changePassword.showDialog = false;
            this.changePassword.currentPassword = '';
            this.changePassword.newPassword = '';
            this.changePassword.newPasswordConfirm = '';
          } else {
            this.changePassword.message = 'Das Passwort konnte nicht geändert werden.'
          }
          this.changePassword.loading = false;
        }).catch(() => this.changePassword.loading = false);
      },
      doLogout() {
        posterLogout().then(() => location.reload());
      }
    }
  }
</script>
